APScheduler==3.6.3
asgiref==3.7.2
cachetools==4.2.2
certifi==2023.11.17
charset-normalizer==2.0.12
Django==3.2.16
djangorestframework==3.14.0
flake8==3.9.2
flake8-docstrings==1.6.0
geographiclib==2.0
geopy==2.4.1
idna==3.6
isort==5.13.2
mccabe==0.6.1
pillow==10.2.0
pycodestyle==2.7.0
pydocstyle==6.3.0
pyflakes==2.3.1
python-dotenv==1.0.1
python-telegram-bot==13.7
pytz==2023.4
requests==2.26.0
six==1.16.0
snowballstemmer==2.2.0
sqlparse==0.4.4
tornado==6.4
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
urllib3==1.26.18
